body{
    background-color: #EEF2FF;
}
.wrapper{
    overflow: hidden;
}
.vl{
    border-left:7px solid #181D31;
    height: 90%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.text{
    display: inline-block;
    align-items: center;
    letter-spacing: 17px;
    color: #181D31;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-family: Rubik;
    font-size: 62px;
    margin-left:170px ;
}
.web{
    display: inline-block;
    letter-spacing: 13px;
    color: #181D31;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 60px;
    margin-right: 270px;
    font-family:Rubik ;
}
.name{
    display: flex;
    justify-content: space-around;
}
.ferst{
    display: flex;
    flex-direction: column;
}
span{
    color:#678983;
}
.one{
    font-family: Rubik;
    font-size: 60px;
    margin-right: 60px;
    margin-top: 120px;
    color: #181D31;
}
.two{
    font-family: Rubik;
    font-size: 60px;
    margin-left: 160px;
    color: #181D31;
}
.button{
    display: flex;
    margin-top: 260px;
}
.btn{
    background-color: #678983;
    padding:10px;
    font-family: Rubik;
    color: #E6DDC4;
    border: none;
    border-radius: 7px;
}
@media all and (max-width:1024px) {
    .wrapper{
        display: flex;
        justify-content: center;
        max-width: 1020px;
    }
    .ferst{
        width: 380px;
    }
    .second{
        display: flex;
        width: 460px;
    }    
}
@media all and (max-width:916px) {
    .wrapper{
        display: flex;
        justify-content: center;   
    }
    .name{
        max-width: 886px;
    }
    .ferst{
        width: 380px;
    }
    .second{
        display: flex;
        width: 420px;
    }
}
@media all and (max-width:820px) {
    .wrapper{
        display: flex;
        justify-content: center;   
    }
    .name{
        max-width: 800px;
        
    }
    .ferst{
        width: 360px;
    }
    .second{
        display: flex;
        width: 340px;
    }
    .one, .two{
        font-size: 50px;
    }
    .text{
        font-size: 50px;
    }
}
@media all and (max-width:768px) {
    .wrapper{
        display: flex;
        justify-content: center;   
    }
    .name{
        max-width: 750px;
        
    }
    .ferst{
        width: 360px;
    }
    .second{
        display: flex;
        width: 320px;
    }
    .one, .two{
        font-size: 48px;
    }
    .text{
        font-size: 50px;
        margin-left: 90px;
    }
}
@media all and (max-width:540px) {
    .name{
        display: flex;
        max-width: 520px;
    }
    .ferst{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 180px;
    }
    .second{
        width: 280px;
    }
    .one, .two{
        font-size: 40px;
        margin: 0px;
    }
    .text{
        font-size: 50px;
        margin-left: 90px;
    }
}
@media all and (max-width:414px) {
    .vl{
        height: 86%;
    }
    .wrapper{
        display: flex;
        align-items: center;
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .one, .two{
        font-size: 32px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
    .btn{
        margin-top: 86px;
    }
}
@media all and (max-width:393px) {
    .vl{
        height: 88%;
    }
    .wrapper{
        display: flex;
        align-items: center;
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .one, .two{
        font-size: 32px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
    .btn{
        margin-top: 56px;
    }
}
@media all and (max-width:375px) {
    .vl{
        height: 84%;
    }
    .wrapper{
        display: flex;
        align-items: center;
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .second{
        margin-top: -150px;
    }
    .one, .two{
        font-size: 28px;
    }
    .text{
        font-size: 32px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
    .btn{
        margin-top: 50px;
    }
}
@media all and (max-width:360px) ,( max-height:740px){
    .vl{
        height: 78%;
    }
    .btn{
        margin-top:50px;
    }
}

@media all and (max-width:280px){
    .vl{
        height: 78%;
    }
    .wrapper{
        display: flex;
        align-items: center;
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .ferst{
        margin-left: 15px;
    }
    .one, .two{
        font-size: 20px;
    }
    .text{
        font-size: 28px;
    }
    .btn{
        margin-top: 40px;
    }
}


